*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Diphylleia', serif;
}

body{
    margin: 0;
}

#main_title{
    display: flex;
    justify-content: center;

    background-color: red;
    color: white;

    margin-bottom: 1rem;
}

footer{
    height: 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    color: white;
}

/*미리보기 칸*/
#preview{
    display: flex;
    column-gap: 0.5rem;
    
    width: 100%;
    height: 13rem;

    overflow: auto;
    object-fit: cover;
}

#preview::-webkit-scrollbar{
    height: 0.8rem;
}

#preview::-webkit-scrollbar-track {
    background-color: transparent;
}

#preview::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color:lightgray;
}

#preview::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/*내비게이션*/
#nav_list {
    background-color: green;
}

#nav_list ul {
    height: 4rem;
    margin-bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_list ul li{
    list-style: none;
}

#nav_list ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;

}

#nav_list ul li a:hover{
    text-decoration: underline;
    color: yellow;
}

#nav_list ul li{
    list-style: none;
}

/*프리뷰 제외 섹션 공통 적용 사항*/
.images{
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;

    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.img_frame{
    width: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.img_title{
    width: 100%;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0;

    background-color: rgb(100, 208, 100);
    color: white;

    position: sticky;
    top: 0;

    z-index: 2;
}

.img_box{
    margin: 2rem;

    flex: 1;
}

/*이미지 애니메이션 효과*/
#north_images .images:hover, .roma_box:hover{
    transform: translateY(-0.8rem);
}


/*로마(섹션1)*/
#roma_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.roma_box{
    position: relative;

    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.roma_box span{
    position: absolute;

    color: white;

    display: none;
}

.photo_title{
    top: 1.2rem;

    font-size: 1.4rem;
}

.photo_info{
    top: 4rem;
    padding: 1rem;

    font-size: 0.8rem;
}

.roma{
    width: 12rem;
    height: 12rem;

    flex-grow: 1;
    flex-shrink: 1;

    object-fit: cover;
    overflow: hidden;
}


/*북탈리아(섹션2)*/
#north_images{
    display: flex;
    justify-content: space-around;
}

#north_box1{
    width: 42vw;
    height: 42vw;
}

.north_box2{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 0 0 42vw;
    gap: 0.6rem;
}

.north_box2 img{
    height: 20vw;
    width: 20vw;
}

@media(min-width:577px)and (max-width:767px){
    #north_images{
        flex-direction: column;
        gap: 0.6rem;
    }

    #north_box1{
        width: 100%;
        height: 42vw;
    }

    .north_box2{
        justify-content: space-between;
        width: 100%;
    }    

    .north_box2 img{
        flex: 0 0 25vw;
        height: 25vw;
    }    

    .north_box2 img:last-child{
        height: 42vw;

        flex-grow: 1;
        flex-shrink: 1;    
    }
}

@media(max-width:576px){
    #north_images{
        flex-direction: column;
        gap: 0.6rem;
    }

    #north_box1{
        width: 100%;
        height: 42vw;
    }

    .north_box2{ 
        justify-content: space-between;
        align-content: space-between;
    }

    .north_box2 img{
        flex: 0 0 48%;
        height: 16vh;
    }        
}


/*남탈리아(섹션3)*/
#south_images{
    max-height: 32rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0.4rem;
}

#south_images .images:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
#south_images .images:nth-child(2){
    grid-column: 1/3;
    grid-row: 2/3;
}
#south_images .images:nth-child(3){
    grid-column: 3/5;
    grid-row: 1/3;
}
#south_images .images:nth-child(4){
    grid-column: 1/4;
    grid-row: 3/5;
}
#south_images .images:nth-child(5){
    grid-column: 4/5;
    grid-row: 3/5;
}

/*상단 이동 버튼*/
#top_btn{
    width: 2.5rem;
    height: 2.5rem;

    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    z-index: 3;
}

#top_btn a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}